<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"> <%= name %> </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
      <%= link_to "Add flat",  new_flat_path, class:"btn btn-outline-success" %>
    </form>
  </div>
</nav>
